/* 전체 배경 */
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/devlife-manager_background.png');
  background-size: cover;
}
