/* 카드 */
.card {
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(0,89,167, 0.05);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  /* 로고 */
  .logoImg {
    height: 70px;
  }
  
  /* 타이틀 */
  .title {
    margin: 20px 0;
    font-size: 18px;
  }
  
  /* 폼 */
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* 인풋 */
  .input-group {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 10px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 14px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  /* 버튼 */
  .submit-btn {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2c7be5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    opacity: 0.9;
  }

  /* 로그인 링크 */
  .login-link {
    margin-top: 15px;
    font-size: 13px;
    color: #555;
  }
  
  .login-link a {
    color: #2c7be5;
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  /* 유효성 체크 메세지 */
  .validMsg {
    text-align: left;
    margin: 0px;
    color: red;
  }